<%- include("header") -%>

<h2>This is about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam doloribus et quam cum fuga. Recusandae, cupiditate! Voluptatum temporibus veritatis ipsa expedita dignissimos quisquam, ipsam laborum totam repudiandae, obcaecati omnis molestias!
Beatae dignissimos a quod exercitationem at perspiciatis odio cum delectus accusamus, molestiae commodi natus, provident iusto tenetur voluptatibus tempora rem in soluta eos eum dolor ipsa consectetur vero eius. Ut!
Ex accusamus laborum neque repellendus totam praesentium inventore ipsam nostrum in, officia sequi odio hic aspernatur ut accusantium? Harum deserunt sequi eaque facere sapiente numquam aliquid est exercitationem nisi expedita!
Magnam sit esse optio excepturi dolores explicabo at molestias eligendi eaque maxime voluptas atque doloribus maiores magni repellendus vero facilis laboriosam nihil ab, asperiores ea temporibus culpa fugit! Minima, iusto.</p>

<%- include("footer") -%>